{% load static %}
<html>

<head>
    <script src="../static/js/jquery.min.js"></script>
    <script src="{% static 'js/fix.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/fix.css' %}" />
</head>

<body>
    <div id="modal" class="modal">
        <div class="modal-content">
            <img src="source/07ad64e2-4757-4c74-abc9-78a72b73fcb7.jpg" alt="" class="modal_img">

            <label class="upload">
                <span class="upload_content">
                    <span class="title">Browse...</span>
                </span>

                <input type="file" accept="image/*" multiple id="imageUpload">
            </label>

        </div>

    </div>

    <div class="itemsbar" id="itemsbar">
        {% for item in items %}
        <div class="imagebar" id="imagebar_{{item.name}}">
            <label class="imagelabel">QTY: {{item.quantity}}</label>
            <img src="download/{{item.name}}" alt="{{item.name}}" class="img">
        </div>
        {% endfor %}

    </div>
</body>

</html>