{% load static %}
<html>

<head>
    <script src="../static/js/jquery.min.js"></script>
    <script src="{% static 'js/fix.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/fix.css' %}" />
</head>

<body>
    <div id="modal" class="modal">
        <div class="modal-content">
        </div>

    </div>

    <div class="itemsbar" id="itemsbar">
        {% for item in items %}
        <div class="imagebar" id="imagebar_{{item.name}}">
            <label class="imagelabel">QTY: {{item.quantity}}</label>
            <img src="download/{{item.name}}" alt="{{item.name}}" class="img">
        </div>
        {% endfor %}

    </div>
</body>

</html>